<!doctype html>
<html>

<head>
  <meta charset="utf-8" />
  <meta property="og:image" content="http://www.morsenode.com/images/morsenode.png"/>
  <meta property="og:url" content="http://www.morsenode.com/"/>
  <meta property="og:title" content="Morse Node"/>
  <meta property="og:description" content="Morse Node lets you communicate with friends, enemies, and frenemies all over the world, in morse code!"/>
  <title>Morse Node</title>
  <link rel="shortcut icon" href="/images/favicon.ico"/>
  <link rel="stylesheet" href="/styles/main.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
  <script src="/scripts/vendor/riffwave.js"></script>
  <script src="/scripts/main.js"></script>
</head>

<body class="no-select">

{{{body}}}

</body>
</html>